# Set default behavior to automatically normalize line endings:
* text=auto

# Declare files that will always have LF line endings on checkout.
*.kt text eol=lf
*.xml text eol=lf
*.gradle text eol=lf
*.kts text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flac binary
*.zip binary
*.gz binary
*.7z binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
